.bebas{
    background: #786fa6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter{
    background-image: linear-gradient(to left, #ffafb0, #484c7f);
    min-width: 500px;
    max-width: 1000px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}
.newsletter h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    line-height: 40px;
    font-family: 'Cinzel', serif;
}
.newsletter h1 span{
    display: block;
    font-size: 38px;
    font-family: 'Cinzel', serif;
}
.newsletter p{
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}
.search-box{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
    
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    font-family: 'Cinzel', serif;
}
.search-box:hover > .search-btn{
    background: #594a4e;

}
.search-btn{
    color: #ffb6b9;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

#tableRani{
    margin-top: 50px;
    font-family: 'Patua One', cursive;
}