.home{
    background-image: linear-gradient(to left, #ffafb0, #484c7f);
    width: 100%;
    background-position:absolute; 
    background-size: cover;
}
.halo{
    font-family: Laila !important;
    font-weight: normal;
    padding-top : 2%;
    margin-bottom: 3%;
    font-size: 3vw;
    line-height: 3vw;
    text-align : center;
    color: black;
}
.formstatus{
    text-align : center;
    border-radius: 50px;
}

.btn{
    text-align : center;
    border-radius: 50px;
}

#submit{
    border-radius: 50px;
    text-align : center;
    
}

.stat{
    font-family: 'Kurale', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color : black;
}


/* Profil Page Style */

.newpage{
    background-image: linear-gradient(to left, #ffafb0, #484c7f);
}
.title{
    color : wheat;
    font-family: Laila !important;
    font-weight: normal;
    padding-top : 2%;
    margin-bottom: 3%;
    font-size: 3vw;
    line-height: 3vw;
    text-align : center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.desc{
    font-family: Laila !important;
    font-weight: normal;
    margin: 15vw;
    padding-top : 2vw;
    margin-top: -23vw;
    margin-left: 20vw;
    font-size: 20px;
    line-height: 2vw;
    text-align : center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 100px;
    transition: 2s;
}
section.dark{
     background: url("../images/gal2.jpeg") no-repeat;
     color: #bbded6;
     background-size: cover;
     transition: 2s;
}
ul{
    position : absolute;
    top : 5vw;
    right : 5vw;
    margin : 0;
    margin-top: -4vw;
    padding : 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #ffb6b9;
    cursor: pointer;
    overflow: hidden;
}
ul.active{
    background-color:#8ac6d1;

}
ul li{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
ul.active li{
    transform: translateY(-30px);
}
ul li span{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #fff;
}
ul li span:nth-child(1){
    background: #8ac6d1;
    color: #fff;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
    border:1px solid #FDF8E4;
    background:#ac8daf;
    color:#fff;
    bottom: 0%;
}
.row-mar{
    margin: 23vw;
    margin-right: 6vw; 
    margin-left: 3vw;
    text-align: center;
    
}
.pic{
    widows: 25vw;
    height: 25vw;
}
.text-style{
    font-family: Laila !important;
    line-height: 2vw;
    text-align : center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
/* NAVBAR */
.nav-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0px;
    background:#fae3d9;
    bottom: 0%;   
}




