.home{
    background-image: linear-gradient(to left, #ffafb0, #484c7f);
    width: 100%;
    background-position:absolute; 
    background-size: cover;
    text-align: center;
}
.newsletter{
    background-image: linear-gradient(to left, #ffafb0, #484c7f);
    background: url("../images/cloud.jpeg") no-repeat;
    background-size: cover;
    min-width: 500px;
    max-width: 1000px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
    margin-left: 12%;
    margin-top: 10%;
    /* display :flex; */
}
.newsletter h1{
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Cinzel', serif;
}