{% extends 'index.html' %}

{% block content %}
    <h1>Login Here!</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="">Login</button>

    </form>
{% endblock %}
