{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bookstyle.css' %}">

    <title>Books Library</title>
</head>

<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbutton navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'status:create_status' %}">Status</a>
                <a class="nav-item nav-link" href="{% url 'status:story7' %}">Profil</a>
                <a class="nav-item nav-link" href="{% url 'status:books' %}">Books</a>
                
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'accounts:home' %}">Login</a>
                {% endif %}
                
            </div>
        </div>
    </nav>
<div class='bebas'>
    <div class = "newsletter">
        <h1>Search
            <span>your Favorite Books</span>
        </h1>
        <p>Test</p>
        <div class="search-box">
            <input class="search-txt" type="search" id="searchField" name="" value="" placeholder="Type to search">
            <button class="search-btn" type="button" name="button"><i class="fas fa-search"></i></button>
        </div>
        
        <table class="table" id="tableRani"></table>
    </div> 
    
</div>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{% static 'js/script2.js' static %}"></script>

</body>
</html>

