<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Status</title>


</head>
<body class="home">
    
<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbutton navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'status:create_status' %}">Status</a>
                <a class="nav-item nav-link" href="{% url 'status:story7' %}">Profil</a>
                <a class="nav-item nav-link" href="{% url 'status:books' %}">Books</a>

                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'accounts:home' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>


    {% if user.is_authenticated %}
        <h1 class="halo">Hello, how are you {{user.username}}? </h1>
    {% else %}
        <h1 class="halo">Hello, how are you? </h1>
    {% endif %}

    <form class="css" action="{% url 'status:create_status' %}" method="post">
        
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10 jumbotron " style="background: whitesmoke">
                <div class="form-row">
                <input type="submit" class="btn btn-primary float-right text" value="Add" id="submit">
            </div>
                {% for fields in form %}
                    <!-- {{ fields.label_tag }} -->
                    <br>
                    {{ fields }}
                {% endfor %}
            
            </div>
       
        </form>
    </div>
   
        <div class="row">
        {% for x in status %}
        <div class="col-sm-4 formstatus stat">
            <h1>{{x.status}}</h1>
            <p>{{x.updated_at}}</p>
        </div>
        {% endfor %}
    </div>



</body>
</html>