{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    <title>Rani Aprilia Astrianty</title>
</head>


<body class='newpage'> 
    
    <section>
        <h1 class="title">Hello, my name is Rani</h1>
        
        <div class="row pic">
                <img src="{% static 'images/avatar1.png'%}" class = "img-fluid pic" alt="ava">
            </div>
    
        <p class='text-center desc'>I am 19 years old. I am currently studying as a second-year<br>
        student at the Faculty of Computer Science, majoring in<br>
        Information System at Universitas Indonesia.<br>
        I’am a very responsible, thorough, and sociable person.</p>
    </section>

    <ul>
        <li>
            <span>Click Me!</span>
            <span>Click Me!</span>
        </li>
    </ul>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul').click(function(){
                $('ul').toggleClass('active')
                $('section').toggleClass('dark')
            })
        })
    </script>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light nav-home">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbutton navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'status:create_status' %}">Status</a>
                <a class="nav-item nav-link" href="{% url 'status:story7' %}">Profil</a>
                <a class="nav-item nav-link" href="{% url 'status:books' %}">Books</a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'accounts:home' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

<div class="row"></div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 row-mar">
        <div id="jQuery_accordion">
            <h3>Current Activities</h3>
                <p class="text-style">Struggling to get S.kom degree behind my name</p>
            
            <h3>Organizations and Commitees</h3>
                <p class="text-style">
                    1. Sponsorship staff at CGT 2019<br>
                    2. Fundraising staff at Compfest 11<br>
                    3. Secretary staff (to be) for Compfest 12
                </p>
            
            <h3>Achievements</h3>
                <p class="text-style"> Survive until today</p>
          </div>
      </div>
    </div>
</div>



</body>
</html>